.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "nav main"
    "nav main";
    background-color: #fff;
}


.adminRadio {
    display: inline;
}

.card {
    width: 200px;
    height: 450px;
    display: inline-block;
    margin: 1%;
}

.cardImage {
    height: 300px;
    padding-top: 10px;
}

.taskCard {
    height: 45px;
}

.userForm {
    width: 50%;
    text-align: center;
}

.feedbackCard {
    height: 100%;
    width: 100%;
    margin: 2%;
}
