.card {
    width: 15%;
    height: 450px;
    display: inline-block;
    margin: 1%;
}

.cardImage {
    height: 300px;
    padding-top: 10px;
}

.userForm {
    width: 50%;
    text-align: center;
}