.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
    margin: 20px;
    margin-left: 5px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "nav main"
    "nav main";
    background-color: #fff;
}


.adminRadio {
    display: inline;
}

.card {
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: .5%;
}

.taskCard {
    height: 45px;
}

.userForm {
    width: 50%;
    text-align: center;
}

.feedbackCard {
    height: 40%;
    width: 100%;
    margin: 2%;
}

.avatar {
    display: inline-block;
}

.nav-link {
    font-size: 18px;
}

.icon {
    margin-left: 10px;
    margin-right: 10px;
}

.taskCard {
    margin: 5px;
    height: 50px;
}

.name {
    text-indent: 2em;
}

