body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    width: 50%;
    height: 200px;
    margin: auto;
    margin-top: 90px;
}

.log-in, .log-out, .register {
  background-color: #ffffff;
  border: 3px solid #9dceb5;
  color: #9dceb5;
  min-height: 50px;
  min-width: 300px;
  outline:0;
  cursor: pointer;
  font-size: 20px;
  margin-top: 50px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background-color: #ffffff;
    border: 3px solid #809fcf;
    color: #809fcf;
    min-height: 50px;
    min-width: 300px;
    outline:0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 400px;
}

.login-form {
    text-align: center;
    margin-right: 50%;
}

.log-textfield {
    margin-top: 20px;
}

.login-picture {
    margin-bottom: 100px;
}
