.nav-title {
    font-size: 45px;
    display: inline-block;
    color: #699dfd;
    margin-left: 15px;
    font-family: 'Caveat';
}

.nav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  min-height: 105vh;
}

.nav-link {
  color: rgb(141, 139, 139);
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding-left: 0px;
}

li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: .5px solid rgb(141, 139, 139);
}