.nav-title {
    font-size: 45px;
    display: inline-block;
    color: #ffffff;
    margin-left: 16%;
}

.nav-image {
  margin-left: 27%;
}

.nav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  min-height: 105vh;
}

.nav-link {
  color: rgb(141, 139, 139);
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 50px;
}

li {
  margin-bottom: 25px;
  padding-bottom: 25px;
  width: 100%;
  border-bottom: .5px solid rgb(141, 139, 139);
}

.logout-link  {
  color: rgb(141, 139, 139);
  cursor: pointer;
  text-decoration: none;
  display: inline;
  font-size: larger;
}